In [1]:
import pandas as pd
import numpy as np
import pytz 
import datetime
df = pd.read_csv("C:/Shaukat/code/data_rep/bom/historical_data/2013-2016/TAS/HM01X_Data_091107_999999999405613.txt")

In [2]:
# df.to_csv('Data_091107.csv')

In [3]:
df.columns

Index(['hm', 'Station Number', 'Year Month Day Hour Minutes in YYYY', 'MM',
       'DD', 'HH24', 'MI format in Local time',
       'Year Month Day Hour Minutes in YYYY.1', 'MM.1', 'DD.1', 'HH24.1',
       'MI format in Local standard time',
       'Time used for closest observation in YYYY', 'MM.2', 'DD.2', 'HH24.2',
       'MI format in Local standard time.1',
       'Precipitation since 9am local time in mm',
       'Quality of precipitation since 9am local time',
       'Air Temperature in degrees C', 'Quality of air temperature',
       'Wet bulb temperature in degrees C', 'Quality of Wet bulb temperature',
       'Dew point temperature in degrees C',
       'Quality of dew point temperature', 'Relative humidity in percentage %',
       'Quality of relative humidity', 'Wind speed in km/h',
       'Wind speed quality', 'Wind direction in degrees true',
       'Wind direction quality',
       'Speed of maximum windgust in last 10 minutes in  km/h',
       'Quality of speed of maximum windgust in last 10 minutes',
       'Mean sea level pressure in hPa', 'Quality of mean sea level pressure',
       'Station level pressure in hPa', 'Quality of station level pressure',
       'AWS Flag', '#'],
      dtype='object')

In [4]:
df.head(3)

,hm,Station Number,Year Month Day Hour Minutes in YYYY,MM,DD,HH24,MI format in Local time,Year Month Day Hour Minutes in YYYY.1,MM.1,DD.1,...,Wind direction in degrees true,Wind direction quality,Speed of maximum windgust in last 10 minutes in km/h,Quality of speed of maximum windgust in last 10 minutes,Mean sea level pressure in hPa,Quality of mean sea level pressure,Station level pressure in hPa,Quality of station level pressure,AWS Flag,#
0,hm,91107,2013,1,1,1,0,2013,1,1,...,280,N,28,N,1008.5,N,1007.1,N,1,#
1,hm,91107,2013,1,1,2,0,2013,1,1,...,290,N,26,N,1008.1,N,1006.7,N,1,#
2,hm,91107,2013,1,1,3,0,2013,1,1,...,280,N,26,N,1007.2,N,1005.8,N,1,#

In [5]:
# pytz.country_timezones.values()

In [6]:
# class datetime.datetime(year, month, day[, hour[, minute[, second[, microsecond[, tzinfo]]]]])¶
# df['Datetime'] = df.apply(lambda row: datetime.datetime(row['Year'], row['Month'], row['Day']), axis=1)
df['LocalDateTime_mmddyyyy'] = df.apply(lambda row: datetime.datetime(row['Year Month Day Hour Minutes in YYYY'], row['MM'], row['DD'], row['HH24']), axis=1)

In [7]:
# Localize the index (using tz_localize) to UTC (to make the Timestamps timezone-aware) 
# and then convert to Eastern (using tz_convert):
# df.LocalDateTime_mmddyyyy.tz_localize('Australia/Hobart')    
df.set_index(df.LocalDateTime_mmddyyyy, inplace=True)

In [8]:
# df.to_csv('delete.csv')

In [9]:
# Make it aware of Current zone
# df.LocalDateTime_mmddyyyy.dt.tz_localize('Australia/Hobart').tz_convert('UTC')

# df['localtime_aware'] = df.index.tz_localize('Australia/Hobart')
# df['UTC'] = df.index.tz_localize('Australia/Hobart').

In [17]:
df = df.tz_localize(None)

In [29]:
df['df_UTC'] = df.index.tz_localize('UTC')

In [32]:
# df.df_UTC.dt.tz_convert('Australia/Hobart')

LocalDateTime_mmddyyyy
2013-01-01 01:00:00   2013-01-01 12:00:00+11:00
2013-01-01 02:00:00   2013-01-01 13:00:00+11:00
2013-01-01 03:00:00   2013-01-01 14:00:00+11:00
2013-01-01 04:00:00   2013-01-01 15:00:00+11:00
2013-01-01 05:00:00   2013-01-01 16:00:00+11:00
2013-01-01 06:00:00   2013-01-01 17:00:00+11:00
2013-01-01 07:00:00   2013-01-01 18:00:00+11:00
2013-01-01 08:00:00   2013-01-01 19:00:00+11:00
2013-01-01 09:00:00   2013-01-01 20:00:00+11:00
2013-01-01 10:00:00   2013-01-01 21:00:00+11:00
2013-01-01 11:00:00   2013-01-01 22:00:00+11:00
2013-01-01 12:00:00   2013-01-01 23:00:00+11:00
2013-01-01 13:00:00   2013-01-02 00:00:00+11:00
2013-01-01 14:00:00   2013-01-02 01:00:00+11:00
2013-01-01 15:00:00   2013-01-02 02:00:00+11:00
2013-01-01 16:00:00   2013-01-02 03:00:00+11:00
2013-01-01 17:00:00   2013-01-02 04:00:00+11:00
2013-01-01 18:00:00   2013-01-02 05:00:00+11:00
2013-01-01 19:00:00   2013-01-02 06:00:00+11:00
2013-01-01 20:00:00   2013-01-02 07:00:00+11:00
2013-01-01 21:00:00   2013-01-02 08:00:00+11:00
2013-01-01 22:00:00   2013-01-02 09:00:00+11:00
2013-01-01 23:00:00   2013-01-02 10:00:00+11:00
2013-01-02 00:00:00   2013-01-02 11:00:00+11:00
2013-01-02 01:00:00   2013-01-02 12:00:00+11:00
2013-01-02 02:00:00   2013-01-02 13:00:00+11:00
2013-01-02 03:00:00   2013-01-02 14:00:00+11:00
2013-01-02 04:00:00   2013-01-02 15:00:00+11:00
2013-01-02 05:00:00   2013-01-02 16:00:00+11:00
2013-01-02 06:00:00   2013-01-02 17:00:00+11:00
                                 ...
2017-03-16 07:00:00   2017-03-16 18:00:00+11:00
2017-03-16 08:00:00   2017-03-16 19:00:00+11:00
2017-03-16 09:00:00   2017-03-16 20:00:00+11:00
2017-03-16 10:00:00   2017-03-16 21:00:00+11:00
2017-03-16 11:00:00   2017-03-16 22:00:00+11:00
2017-03-16 12:00:00   2017-03-16 23:00:00+11:00
2017-03-16 13:00:00   2017-03-17 00:00:00+11:00
2017-03-16 14:00:00   2017-03-17 01:00:00+11:00
2017-03-16 15:00:00   2017-03-17 02:00:00+11:00
2017-03-16 16:00:00   2017-03-17 03:00:00+11:00
2017-03-16 17:00:00   2017-03-17 04:00:00+11:00
2017-03-16 18:00:00   2017-03-17 05:00:00+11:00
2017-03-16 19:00:00   2017-03-17 06:00:00+11:00
2017-03-16 20:00:00   2017-03-17 07:00:00+11:00
2017-03-16 21:00:00   2017-03-17 08:00:00+11:00
2017-03-16 22:00:00   2017-03-17 09:00:00+11:00
2017-03-16 23:00:00   2017-03-17 10:00:00+11:00
2017-03-17 00:00:00   2017-03-17 11:00:00+11:00
2017-03-17 01:00:00   2017-03-17 12:00:00+11:00
2017-03-17 02:00:00   2017-03-17 13:00:00+11:00
2017-03-17 03:00:00   2017-03-17 14:00:00+11:00
2017-03-17 04:00:00   2017-03-17 15:00:00+11:00
2017-03-17 05:00:00   2017-03-17 16:00:00+11:00
2017-03-17 06:00:00   2017-03-17 17:00:00+11:00
2017-03-17 07:00:00   2017-03-17 18:00:00+11:00
2017-03-17 08:00:00   2017-03-17 19:00:00+11:00
2017-03-17 09:00:00   2017-03-17 20:00:00+11:00
2017-03-17 10:00:00   2017-03-17 21:00:00+11:00
2017-03-17 11:00:00   2017-03-17 22:00:00+11:00
2017-03-17 12:00:00   2017-03-17 23:00:00+11:00
Name: df_UTC, dtype: datetime64[ns, Australia/Hobart]